{% extends "base.html" %} 
{% load static %} 
{% block content_container %}
{% load crispy_forms_tags %}

<head>
  <title>Labelling Management</title>
</head>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Labelling Management</h1>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Food Label List</h6>
  </div>
  <div class="card-body">
    <a href="{% url 'foodType' %}" class="btn btn-primary mb-3">
        <span class="text">New Food Type</span>
    </a>  
         
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Food Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Food Image</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
        {% for unlabelled in unlabelled_list %}
            <tr>
              <td><img src="{{ unlabelled.food_image_path.url }}"></td>
              <td>
                <button id="label{{forloop.counter}}" type="button" class="btn btn-info">
                  Add Food Label
                </button>
                 <!-- Label Modal-->
                 <div class="modal" id="labelModal{{forloop.counter}}" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Food Label</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <input type="hidden" name="id_foodlabel" value="{{unlabelled.food_label_id}}">
                          {{ form|crispy }}
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <script>
                  $(document).ready(function(){
                    $("#label{{forloop.counter}}").click(function(){
                      console.log("test")
                      $("#labelModal{{forloop.counter}}").modal('toggle');
                    });
                    $("#labelModal{{forloop.counter}}")
                    .on('click', '[data-dismiss="modal"]', function() {
                      $("#labelModal{{forloop.counter}}").modal('hide');
                    });
                  });
                 </script>
              </td>             
            </tr> 
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
